<div class="context">
  <span class="title">{{#if (or (eq page.component.name "hardware") (eq page.component.name "aia") (eq page.component.name "iommu") (eq page.component.name "plic") (eq page.component.name "soc"))}}Non-ISA Hardware{{else}}{{page.component.title}}{{/if}}</span>
</div>